.div1{
    background-color: lightpink;
    width: 300px;
    height: 300px;
}

.div2{
    background-color: pink;
    width: 300px;
    height: 300px;
}

.div3{
    background-color: lavender;
    width: 300px;
    height: 300px;
}

.div4{
    background-color: plum;
    display: inline;
}