*{
    margin: 0;
}

.parent{
    background-color: lavender;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.child{
    background-color: pink;
    width: 200px;
    height: 200px;
}